<div class="row">
    <div class="col-6">
        <div>
            <p class="a">Trang chủ > Liên Hệ</p>
            <h5 style="margin-left: 30px">LIÊN HỆ CTy TRÁCH NHIỆM MỘT THÀNH VIÊN ĐỂ ĐƯỢC TƯ VẤN</h5>
            <hr class="b">
            <img src="../assets/image/bando.png" style="margin-top: 30px">
            <div class="row" style="margin-top: 30px; margin-left:25px">
                <div class="col-6">
                    <input type="text" name="FullName" class="form-control" placeholder="Họ và tên">
                </div>
                <div class="col-6">
                    <input type="text" name="Mobile" class="form-control" placeholder="Điện thoại">
                </div>
            </div>
            <div class="row" style="margin-top: 30px; margin-left:25px">
                <div class="col-6">
                    <input type="text" name="Email" class="form-control" placeholder="Email">
                </div>
                <div class="col-6">
                    <input type="text" name="Address" class="form-control" placeholder="Địa chỉ">
                </div>
            </div>
            <div>
                <textarea name="Content" rows="4" placeholder="Nội dung" style="height: 150px;
                width: 695px; margin-left:40px; margin-top: 20px"></textarea>
            </div>
            <button type="button" class="btn btn-outline-danger" style=" margin-left:40px">GỬI LIÊN HỆ</button>
        </div>
    </div>
    <div class="col-6">
        <h5 style="margin-left: 100px; margin-top: 50px">CTy Thương Mại Dịch Vụ Một Thành Viên </h5>
        <div>
            <div class="container">
                <ul class="list-group" style="margin-left: 80px">
                    <li class="list-group-item active"
                        style="width:500px; margin-top: 15px;background-color: #78ad11!important;">Chi Nhánh Miền Bắc -
                        Miền Nam</li>
                    <li class="list-group-item" style="width:500px">
                        <a href="">Miền Bắc</a>
                        <p style="margin-top: 10px">P.1505 Tòa nhà Ecolife Capitol - 58 Tố Hữu, Thanh Xuân, Hà Nội</p>
                        <p>(024).3783.5639 - (024).3783.5640</p>
                        <p>(024) 3.783.5641</p>
                        <p>info@adcvietnam.net | support@adcvietnam.net</p>
                        <p>www.adcvietnam.net</p>
                        <hr class="d">
                        <a href="">Miền Miền</a>
                        <p style="margin-top: 10px">12 Trịnh Đình Thảo, P. Hòa Thạnh, Q. Tân Phú</p>
                        <p>(08)582085750 -(08)978232952</p>
                        <p>(08)363553536</p>
                        <p>ngochai5750@gmail.com | kukiet4620@gmail.com</p>
                        <p>www.website.vn.com</p>
                    </li>
                </ul>
            </div>
            <div class="container">
                <ul class="list-group" style="margin-left: 80px">
                    <li class="list-group-item active"
                        style="width:500px; margin-top: 15px;background-color: #78ad11!important;">Doanh Nhân Thành Đạt
                    </li>
                    <li class="list-group-item" style="width:500px">
                        <div class="row">
                            <div class="col-6">
                                <img src="../assets/image/hai.jpg" class="rounded-circle" alt="Cinque Terre" width="200"
                                    height="200">
                            </div>
                            <div class="col-6">
                                <p>Name: Nguyễn Ngọc Hải</p>
                                <p>Age: 19</p>
                                <p>Company: SVM</p>
                                <p>Owned: 10.000.000.000$</p>
                                <p>Marriage: ĐỘC THÂN</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>