<body>
    <form>
    <div class="to">
        <div class="form">
            <h2>Đăng ký học</h2>
                <label>Họ và tên</label>
                <input type="text" name="hoten">
                <label>Mật Khẩu</label>
                <input type="password" #userPassword name="sdt">
                <label>Email</label>
                <input type="email" #userName name="email">
                <input id="submit" type="submit"
                 (click)="authService.SignUp(userName.value , userPassword.value)" name="submit" value="Gửi">

        </div>
    </div>
    </form>
</body>