
    <!--slide-->
    <div>
      <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
  
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../assets/image/banner1.jpg">
          </div>
          <div class="carousel-item">
            <img src="../assets/image/banner2.jpg">
          </div>
          <div class="carousel-item">
            <img src="../assets/image/banner3.jpg">
          </div>
        </div>
  
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
    <!---->
    <div class="a" style="text-align: center; margin-top: 20px; margin-left: 100px ">
      <h3>GÓC DÀNH CHO HỌC SINH VÀ GIÁO VIÊN</h3>
      <hr class="under-line">
    </div>
    <!--button-->
    <div class="container">
      <button type="button" class="btn btn-outline-success">Student</button>
      <button type="button" class="btn btn-outline-success" style="margin-left: 15px">Teacher</button>
    </div>
    <!---->
    <div class="row">
      <div class="col-sm-6"><img src="../assets/image/Student.png" style="width:500px; margin-left: 130px"></div>
      <div class="col-sm-6" style="margin-top: 50px">
        <h4>Trải nghiệm tính năng cho Học Sinh</h4>
        <ul>
          <li class="wow bounceInLeft" style="margin-top: 20px;">
            <h5 style="font-size:20px;font-family:HKNova">Trải nghiệm tính năng dành cho học sinh</h5>
          </li>
        </ul>
         <ul>
          <li class="wow bounceInLeft">
            <h5 style="font-size:20px;font-family:HKNova">Trải nghiệm tính năng dành cho học sinh</h5>
          </li>
        </ul>
         <ul>
          <li class="wow bounceInLeft">
            <h5 style="font-size:20px;font-family:HKNova">Trải nghiệm tính năng dành cho học sinh</h5>
          </li>
        </ul>
        <button type="button" class="btn btn-outline-success" style="margin-top: 20px; margin-left:150px">Học Ngay</button>
      </div>
    </div>
    <!---->
  