<div class="row">
    <div class="col-8">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Giới Thiệu Website baitap123.com</a>
                </li>
            </ul>
        </nav>
        <div class="card" style="height: 1060px;">
            <div class="card-body">
                <b style="color: red">Giới thiệu Website baitap123.com</b><br>
                <p style="margin-top: 15px; color:darkslateblue">Ngày viết bài: 29-10-2016 09:54:12</p><br>
                <p>Baitap123.com là website học tập, ôn thi và làm bài trắc nghiệm trực tuyến dành cho học sinh TPHT và
                    sinh viên. Website cũng cung cấp nhiều tiện ích soạn bài, tạo bài giảng, tạo ngân hàng đề trắc
                    nghiệm và tạo đề trắc nghiệm khách quan cho giáo viên.</p>
                <p>Ngày nay việc học tập tại nhà, học online qua mạng, làm bài tập trực tuyến là nhu cầu tất yếu của học
                    sinh, sinh viên. Nắm bắt được nhu cầu đó, website www.baitap123.com đã ra đời nhằm mục đích mang đến
                    cho các bạn học sinh, sinh viên một địa chỉ đáng tin cậy để học và làm bài tập trắc nghiệm online
                    một cách thật đơn giản, dễ dàng mà không phải tốn nhiều công sức tìm kiếm ở nhiều nguồn khác nhau
                    đôi khi rất tốn thời gian mà lại không được kết quả như mong đợi. </p>
                <p><img src="../assets/image/website.png" style="width:700px; height:550px; margin-left: 100px"></p>
                <p style="color: firebrick; margin-left:200px">Website www.baitap123.com có giao diện mới với nhiều tính
                    năng mới</p>
                <p>Baitap123.com hiện tại đã cập nhật gần như đầy đủ nội dung chương trình giáo dục phổ thông trung học
                    (lớp 10, lớp 11, lớp 12) của tất cả các môn Toán học, Vật lý, Hoá học, Ngữ văn, Lịch sử, Địa lý,
                    Sinh học, Tiếng Anh và GDCD. Trong mỗi môn học, hiện tại đang tồn tại 2 phiên bản tóm tắt lý thuyết.
                    Một bản là kiến thức được đội ngũ giáo viên, cộng tác viên của chúng tôi biên soạn từ chương trình
                    sách giáo khoa và một số sách tham khảo tại thời điểm website được xây dựng năm 2014. Đến nay do
                    chương trình học có một số môn có thay đổi, giảm tải nên chúng tôi đã cập nhật một bản tóm tắt lý
                    thuyết mới, phiên bản 2017 với những nội dung mới nhất. </p>
                <b class="col-3" style="font-size:20px; margin-left: 700px">Sort by</b>
                <select style="margin-top: 30px;">
                    <option>Top</option>
                    <option>Newest</option>
                    <option>Oldest</option>
                </select>
                <div class="row">
                    <div class="col-1"><img src="../assets/image/hai.jpg"
                            style="height:60px; width:60px; margin-top: 20px"></div>
                    <div class="col-10">
                        <div class="form-group" style="margin-top: 20px; margin-left: 10px">
                            <textarea class="form-control" rows="5" id="comment" style="width: 850px"></textarea>
                        </div>
                        <div>
                            <form>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck"
                                        name="example1">
                                    <label class="custom-control-label" for="customCheck">Check this custom
                                        checkbox</label>
                                    <button type="button" class="btn btn-primary"
                                        style="margin-left: 750px">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="width: 400px;background-color: #78ad11!important;">
            <form class="form-inline" action="/action_page.php">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-success" type="submit" style="background-color: #ff770f!important;">Search</button>
            </form>
        </nav>
        <img src="../assets/image/hinh.png" style="width: 400px; height:450px; margin-left:18px; margin-top:15px">
        <div>
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="width: 400px;background-color: #78ad11!important;">
                <!-- Brand/logo -->
                <a class="navbar-brand" href="#" >HÀNH TRÌNH KHỞI NGHIỆP</a>
            </nav>
            <img src="../assets/image/khoinghiep.png"
                style="width: 400px; height:250px; margin-left:18px; margin-top:15px">
        </div>
        <div>
            <ul class="list-group">
                <li class="list-group-item active" style="background-color: #78ad11!important;">Thống Kê Thành Viên</li>
                <li class="list-group-item">
                    <p>Tổng Thành Viên: 578.651</p>
                    <p style="color:dodgerblue ">Thành Viên Mới Nhất: 111411557296689886266</p>
                    <p style="color: red">Thành Viên VIP Mới Mhất: phanquangvu2002VIP</p>
                </li>
            </ul>
        </div>
    </div>
</div>



<!--foodter-->
