<div class="container">
    <div class="card" style="height: 960px;">
        <div class="card-body">
            <h3 style=" font-size: 35px; color: #1bbc9b;">Ask Question</h3>
            <div class="form-group row" style="padding-top: 20px;">

                <b class="col-3" style="font-size:20px;    padding-top: 10px; ">Username: </b><input type="text"
                    class="form-control col-8" id="Category" placeholder="Enter username" name="Category" required="">
                <b class="col-3" style="font-size:20px;    padding-top: 10px; margin-top: 80px">E-Mail:</b><input
                    type="text" class="form-control col-8" id="Category" placeholder="Please type your E-Mail"
                    style="margin-top: 80px" name="Category" required="">
                <b class="col-3" style="font-size:20px; padding-top: 10px; margin-top: 80px">Question Title:</b><input
                    type="text" class="form-control col-8" id="Category" placeholder="Please choose."
                    style="margin-top: 80px" name="Category" required="">
                <b class="col-3" style="font-size:20px; padding-top: 10px; margin-top: 80px">Category:</b>
                <select style="margin-top: 80px;">
                    <option>Select a Categary </option>
                    <option>Automation</option>
                    <option>General</option>
                    <option>Manual</option>
                </select>
                <div class="container">
                    <b class="col-3" style="font-size:20px; padding-top: 10px; margin-top: 80px">Details:</b>
                    <div class="form-group">
                        <textarea class="form-control" rows="5" id="comment" name="text"
                            style="height:200px; width: 735px; margin-left: 260px"></textarea>
                    </div>
                    <div class="container">
                        <div class="form-group">
                            <input type="file" class="form-control-file border" style="width: 735px; margin-left: 245px"
                                name="file">
                        </div>
                    </div>
                    <button type="button" class="btn btn-success btn-block" style="background-color: #1bbc9b">Publish Your Question</button>
                </div>
            </div>
        </div>
    </div>
</div>